<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <link rel="stylesheet" href="/main.css">
</head>

<body>
    
   
    <h1>Robot Linkedin </h1><br> <br>
<a href="/forHire"> <strong>For Hire</a>
<a href="/employed">Employed</a>
<a href="/">Home</a>
</strong>


    <div class="users">
    {{#zach}}
    <a href="/profile/{{_id}}">
    <div class="boxes">
        <img src={{avatar}}/><br>
         {{name}} <br> 
         {{job}}{{^job}}{{/job}}<br>
         {{company}} <br><br>
         </div>
    {{/zach}}
    {{^zach}}
         No zach available
    {{/zach}}
    </div>
    </a>
    <script src="./main.js"></script>
</body>

</html>